<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../css/product.css">
        <script src="https://kit.fontawesome.com/c192b78caa.js" crossorigin="anonymous"></script>
    </head>

    <header>
        <div class="header-top">
            <div class="header-letf">
                <h1>Salesma</h1>
            </div>
            <div class="header-right">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="header-bottom">
            <nav class="menu">
                <ul>
                    <li><a href=""><i class="fas fa-tshirt"></i></a></li>
                    <li><a href=""><i class="fas fa-home-alt"></i></a></li>
                    <li><a href=""><i class="fas fa-shopping-bag"></i></a></li>
                    <li><a href=""><i class="fas fa-chart-line"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container-top">
            <h2>Crear Producto</h2>
        </div>
        <div class="container-bottom">
            <form>
                <div class="form-img">
                    <img src="../../images/2020-09-03.jpg" alt="" srcset="">

                    <div>
                        <label for="img">Cargar imagen</label>
                        <input type="file" name="img" id="img" style="display: none;">
                    </div>

                </div>
                <div>
                    <label for="name">Nombre:</label>
                    <input type="text" name="name" id="name" placeholder="Nombre">
                </div>
                <div>
                    <label for="description">Descripcion:</label>
                    <textarea name="description" id="description" rows="5"></textarea>
                </div>
                <div>
                    <label for="price">Precio:</label>
                    <input type="number" name="price" id="price" placeholder="Precio">
                </div>
                <div class="form-buttons">
                    <button type="reset">Borrar</button>
                    <button>Crear</button>
                </div>
            </form>
        </div>
    </main>

    <footer>

    </footer>
</head>

<body>

</body>

</html>