<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header-top">
            <div class="header-letf">
                <h1>Salesma</h1>
            </div>
            <div class="header-right">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="header-bottom">
            <nav class="menu">
                <ul>
                    <li><a href=""><i class="fas fa-tshirt"></i></a></li>
                    <li><a href=""><i class="fas fa-home-alt"></i></a></li>
                    <li><a href=""><i class="fas fa-shopping-bag"></i></a></li>
                    <li><a href=""><i class="fas fa-chart-line"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container-top">
            <h2>Nombre del Producto</h2>
        </div>
        <div class="container-bottom">
            <div class="form-img">
                <img src="../../images/2020-09-03.jpg" alt="" srcset="">
            </div>
            <div>
                <label for="name">Nombre:</label>
            </div>
            <div>
                <label for="description">Descripcion:</label>
            </div>
            <div>
                <label for="price">Precio:</label>
            </div>
        </div>
    </main>
</body>

</html>