@import url('global.css');
main {
    width: 95%;
    margin: 10px auto;
}

main div.container-top h2 {
    text-align: center;
}

main div.container-bottom form {
    margin: 0px 10%;
}

main div.container-bottom form div.form-img {
    text-align: center;
}

main div.container-bottom form div img {
    width: 150px;
    border-radius: 50%;
}

main div.container-bottom form div input,
main div.container-bottom form textarea {
    display: block;
    width: 100%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

main div.container-bottom form div.form-buttons {
    text-align: right;
}

main div.container-bottom form div.form-buttons button {
    padding: 2px;
    margin: 5px;
    width: 60px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

main div.container-bottom form div.form-buttons button:nth-child(1) {
    background-color: rgb(229, 192, 192);
}

main div.container-bottom form div.form-buttons button:nth-child(2) {
    background-color: rgb(171, 215, 245);
}